.profile {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.balance-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #EEECEC;
  border-radius: 5px;
  margin-top: 20px;
}

.balance-button {
  padding: 10px;
  background-color: #FFFDE6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.balance-button:hover {
  background-color: #fffbc7;
}

.logout {
  margin-top: 20px;
}

.logout-button {
  padding: 10px;
  background-color: #ffcccc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #ffb9b9;
}

.add-product-button {
  margin-top: 20px;
  padding: 10px;
  background-color: #D2EBFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-product-button:hover {
  background-color: #b3eaff;
}

.profile-input {
  display: block;
  width: 50%;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}

.log-reg-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  align-items: center;
}

.login-button {
  padding: 10px;
  background-color: #abff86;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #d3ffc3;
}

.register-button {
  padding: 10px;
  background-color: #ccc6fa;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register-button:hover {
  background-color: #e0dcff;
}